ul {
  text-align: center;
  padding: 15px;
}
ul li {
  margin: 40px;
  display: inline;
  padding: 15px;
  border: 1px solid black;
  border-radius: 25px;
  color: black;
}
h1 {
  text-align: center;
  font-size: 2em;
  color: rgba(29, 27, 27, 0.533);
  text-align: center;
  margin: 20px;

  padding: 10px;
  background: linear-gradient(45deg, #00d9ff, #00ff00, #5b5bf8);
  background-size: 100% 100%;
  -webkit-animation: GradientShift 10s ease infinite;
  -moz-animation: GradientShift 10s ease infinite;
  animation: GradientShift 10s ease infinite;
  border: 5px solid #ffafff;
  border-radius: 15px;
  transition: all 0.5s ease;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.main {
  width: 100%;
  margin: 0 auto;
  overflow: auto;
  padding: 40px;
}
.card {
  width: 100%;
  padding: 15px;
  border: 1px solid rgb(82, 50, 50);
  border-radius: 50px;
  margin: px;
}
.im-agam {
  display: flex;
  justify-content: center;
  border-radius: 50%;
}

img {
  border-radius: 20%;
}

.padding {
  padding: 5px;
}
